


p{
	// font-family:"Relative Trial";
	// font-size:25vw;

	// font-family:"Gothic 523";
	// font-size:30vw;
	// letter-spacing:-0.02em;

	font-family:"MarleneStencil";
	font-size: 30vw;
	letter-spacing:0em;

	font-weight:200;
	width:70vw;
	line-height:0.99;
	// position:absolute;

}

span{
	position:absolute;
	display:inline-block;
	// background:rgb(30,30,30);
	// padding:0.125em 0.25em;
	color:rgb(0,0,250);
}

