---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "responsive";
@import "typography";

// @import "components/color";
// @import "components/controller";
// @import "components/arrow";

body{
	// background: radial-gradient(ellipse at center, rgba(251,255,50,1) 0%,rgba(50,255,207,1) 100%);
	// animation: bgShift 10s ease-in-out infinite alternate;
	// background-image:url('../assets/img/bg-02.png');
	background:rgb(255,0,0);
	height:4000px;
	width:3000px;
	
}

main{
	width:3000px;
}


