<script src="../assets/js/lib/jquery.lettering-0.6.1.min.js"></script>
<script>
function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
}





// Add this block to where your "after page load" code starts. 
// If you use a framework, you should adjust the solution to your framework.
if (location.hash && location.hash === "#b") {
    // or whichever way your app switches between the two
    document.body.classList.add("b");
} // else it'll show login, as intended.

  $(document).ready(function() {
	    // $("span").lettering();
	  });


</script>